html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 40px;
}

body {
  background-color: #f7f2f0;
}

header {
  display: flex;
  justify-content: center;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0; /* Cola no topo da página */
  left: 0; /* Cola na esquerda */
  z-index: 1000;
  background-color: #f7f2f0;
}
.logo {
  width: 10%;
  display: flex;
  justify-content: center;

  img {
    height: 76px;
  }
}

.nome {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 30px;
    margin-bottom: 0;
    color: #da2d26;
  }
  h2 {
    font-size: 15px;
    margin-top: -5px;
    color: #da2d26;
  }
}

nav {
  width: 70%;
  padding-top: 15px;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    li a {
      text-decoration: none;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      color: #da2d26;
    }
  }
}

main {
  /*margin-top: 80px; */
  margin: 0;
}

.sobre {
  width: 100%;
  display: flex;
  padding-top: 30px;
  margin-top: 20px;
  .foto {
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 600px;
    }
  }
  .texto {
    width: 50%;

    color: #da2d26;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 25px;
    }
    p {
      font-size: 18px;
      text-align: justify;
      margin: 20px;
    }
  }
}

.faq {
  display: flex;
  flex-direction: column;

  gap: 40px;
  padding: 20px;
  margin-left: 300px;
  .titulo {
    background-color: #b4d692;
    border-radius: 10px;
    width: 500px;
    color: #da2d26;
    font-size: 24px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
  }
  .sumario {
    color: #da2d26;
    width: 700px;
    text-align: left;
    font-size: 24px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    list-style-position: inside;
    list-style: none; /* Remove o marcador principal */
    list-style-image: none;
    display: list-item; /* Mantém o comportamento de lista */
    cursor: pointer; /* Indica que é clicável */
    padding: 10px 0;
    font-weight: bold;
  }

  summary::before {
    content: "+ "; /* O sinal de mais no estado fechado */
    font-size: 1.2em;
    margin-right: 10px; /* Espaço entre o + e o texto da pergunta */
    color: #ce3530; /* Use uma das cores da sua logo (vermelho) */
    display: inline-block;
  }
  details[open] summary::before {
    content: "- ";
    color: #86bb4d;
  }
  details p {
    font-weight: normal;
    text-align: justify;
  }
}

.contato {
  display: flex;
  flex-direction: column;

  padding-top: 20px;

  .titulo {
    background-color: #b4d692;
    border-radius: 10px;
    width: 300px;
    color: #da2d26;
    font-size: 24px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-left: 425px;
  }

  .name,
  .telefone,
  .mensagem {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    gap: 5px;
    color: #da2d26;
    font-size: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    width: 500px;
    font-weight: bold;
    padding-bottom: 25px;

    input {
      background-color: #b4d692;
      color: #da2d26;
      border-radius: 8px;
      height: 25px;
      font-size: 15px;
      font-weight: 700;
    }
  }
}
